
.jumbotron h1 {
    color: deeppink;
    font-size: 70px;
    font-style: bold;
    font-family: "Stencil";
}

.jumbotron {
  background-image: url(../assets/back.png);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gold{
    color: gold;
    font-style: bold;
}

.silver {
    color: gray;
    font-style: bold;
}

.bronze{
    color: brown;
    font-style: bold;
}

.label {
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: deeppink;
}



#gameLink{
  text-align: center;
  border: 1px solid gray;
}

body {
  background-color: pink;
  font-family: "Helvetica Neue";
  font-size: 15px;
}


h2 {
  color: deeppink;
  font-family: "Helvetica Neue";
  font-size: 20px;
}

/* CORRECT VERSION
